NodeRedFlows/kitchen_lighting
[
    {
        "id": "7b3065384a2cc43b",
        "type": "tab",
        "label": "Kitchen Lights",
        "disabled": false,
        "info": "All flows that control lights in the \nkitchen.",
        "env": [
            {
                "name": "back_door_switch",
                "value": "sensor.back_door_light_switch_action",
                "type": "str"
            },
            {
                "name": "back_door_light",
                "value": "light.back_door_light",
                "type": "str"
            },
            {
                "name": "kitchen_main_lights",
                "value": "light.kitchen_lights_2",
                "type": "str"
            },
            {
                "name": "worktop_lights",
                "value": "light.ikea_kitchen_lights",
                "type": "str"
            },
            {
                "name": "sink_lights",
                "value": "light.oversink_kitchen_lights",
                "type": "str"
            },
            {
                "name": "aura_lamp",
                "value": "light.aura_lamp_2",
                "type": "str"
            },
            {
                "name": "kitchen_presence",
                "value": "binary_sensor.kitchen_presence_sensor_presence_sensor_1",
                "type": "str"
            },
            {
                "name": "bdz_presence",
                "value": "binary_sensor.presence_sensor_fp2_4b3c_presence_sensor_3",
                "type": "str"
            },
            {
                "name": "light_level",
                "value": "sensor.kitchen_presence_sensor_light_sensor_light_level",
                "type": "str"
            },
            {
                "name": "undershelf_lights",
                "value": "switch.under_shelf_lights_local",
                "type": "str"
            },
            {
                "name": "holiday_mode",
                "value": "input_boolean.holiday_mode",
                "type": "str"
            },
            {
                "name": "low_light_threshold",
                "value": "input_number.low_light_threshold",
                "type": "str"
            },
            {
                "name": "season",
                "value": "sensor.season",
                "type": "str"
            },
            {
                "name": "we_are_in_bed",
                "value": "input_boolean.we_are_in_bed",
                "type": "str"
            },
            {
                "name": "bdz_light",
                "value": "light.back_door_zone_light",
                "type": "str"
            },
            {
                "name": "back_door_contact",
                "value": "binary_sensor.back_door_sensor_contact",
                "type": "str"
            },
            {
                "name": "worktop_presence",
                "value": "binary_sensor.presence_sensor_fp2_4b3c_presence_sensor_6",
                "type": "str"
            },
            {
                "name": "al_sleep_mode",
                "value": "input_boolean.adaptive_lighting_sleep_mode_active",
                "type": "str"
            }
        ]
    },
    {
        "id": "f5a8dcec4c6af58f",
        "type": "server-state-changed",
        "z": "7b3065384a2cc43b",
        "name": "Back Door Switch Action",
        "server": "e1cb801a.ed5b6",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "${back_door_switch}"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "single_down",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 130,
        "y": 100,
        "wires": [
            [
                "3e58ec6779a965f0"
            ],
            []
        ],
        "outputLabels": [
            "single_down",
            "null"
        ]
    },
    {
        "id": "3e58ec6779a965f0",
        "type": "api-current-state",
        "z": "7b3065384a2cc43b",
        "name": "Is Back Door Light off?",
        "server": "e1cb801a.ed5b6",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "${back_door_light}",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 200,
        "y": 160,
        "wires": [
            [
                "235c29a9d6e6c90e"
            ],
            [
                "dcc8b751d3cc985b"
            ]
        ],
        "outputLabels": [
            "Yes",
            "No"
        ]
    },
    {
        "id": "235c29a9d6e6c90e",
        "type": "api-call-service",
        "z": "7b3065384a2cc43b",
        "name": "Turn on the light",
        "server": "e1cb801a.ed5b6",
        "version": 7,
        "debugenabled": true,
        "action": "light.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "${back_door_light}"
        ],
        "labelId": [],
        "data": "{   \"brightness\": 255 }",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "light",
        "service": "turn_on",
        "x": 440,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "dcc8b751d3cc985b",
        "type": "api-call-service",
        "z": "7b3065384a2cc43b",
        "name": "Turn off the light",
        "server": "e1cb801a.ed5b6",
        "version": 7,
        "debugenabled": true,
        "action": "light.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "${back_door_light}"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "light",
        "service": "turn_off",
        "x": 440,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "f0cd75000b77db1e",
        "type": "server-state-changed",
        "z": "7b3065384a2cc43b",
        "name": "Back Door Zone Presence",
        "server": "e1cb801a.ed5b6",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "${bdz_presence}"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "on",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 130,
        "y": 320,
        "wires": [
            [
                "56e84c97f23fd1dd",
                "2f934835b66658d9"
            ],
            [
                "af66fd3419520971"
            ]
        ]
    },
    {
        "id": "094922fd3583734c",
        "type": "comment",
        "z": "7b3065384a2cc43b",
        "name": "Back Door Light Needed",
        "info": "",
        "x": 120,
        "y": 40,
        "wires": []
    },
    {
        "id": "d5fd29f331968578",
        "type": "inject",
        "z": "7b3065384a2cc43b",
        "name": "Inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 330,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "28f1fc64f269049d",
        "type": "debug",
        "z": "7b3065384a2cc43b",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 440,
        "wires": []
    },
    {
        "id": "5fc8a432bc5ba6bb",
        "type": "comment",
        "z": "7b3065384a2cc43b",
        "name": "Back Door Zone Lights with presence",
        "info": "",
        "x": 170,
        "y": 260,
        "wires": []
    },
    {
        "id": "2f934835b66658d9",
        "type": "api-current-state",
        "z": "7b3065384a2cc43b",
        "name": "Low Light?",
        "server": "e1cb801a.ed5b6",
        "version": 3,
        "outputs": 2,
        "halt_if": "100",
        "halt_if_type": "num",
        "halt_if_compare": "lt",
        "entity_id": "${light_level}",
        "state_type": "num",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 390,
        "y": 360,
        "wires": [
            [
                "fd571c0a5c27bbc5"
            ],
            []
        ]
    },
    {
        "id": "56e84c97f23fd1dd",
        "type": "switch",
        "z": "7b3065384a2cc43b",
        "name": "Check if season is Winter or Autumn",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "autumn",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "winter",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 300,
        "wires": [
            [
                "4b508de3edf75adc"
            ],
            []
        ],
        "inputLabels": [
            "State Change"
        ],
        "outputLabels": [
            "Yes",
            "No"
        ]
    },
    {
        "id": "4b508de3edf75adc",
        "type": "time-range-switch",
        "z": "7b3065384a2cc43b",
        "name": "Between 1730 - 2100",
        "lat": "",
        "lon": "",
        "startTime": "17:30",
        "endTime": "21:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 740,
        "y": 260,
        "wires": [
            [
                "fd571c0a5c27bbc5"
            ],
            []
        ]
    },
    {
        "id": "fd571c0a5c27bbc5",
        "type": "api-current-state",
        "z": "7b3065384a2cc43b",
        "name": "Are we in bed",
        "server": "e1cb801a.ed5b6",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "${we_are_in_bed}",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 640,
        "y": 380,
        "wires": [
            [],
            [
                "a893397a4937f3fe"
            ]
        ],
        "outputLabels": [
            "Yes",
            "No"
        ]
    },
    {
        "id": "a893397a4937f3fe",
        "type": "api-call-service",
        "z": "7b3065384a2cc43b",
        "name": "Turn on the light",
        "server": "e1cb801a.ed5b6",
        "version": 7,
        "debugenabled": true,
        "action": "light.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "${bdz_light}"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "light",
        "service": "turn_on",
        "x": 840,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "af66fd3419520971",
        "type": "api-call-service",
        "z": "7b3065384a2cc43b",
        "name": "Turn off the light",
        "server": "e1cb801a.ed5b6",
        "version": 7,
        "debugenabled": true,
        "action": "light.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "${bdz_light}"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "light",
        "service": "turn_off",
        "x": 160,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "96d334c2825ae664",
        "type": "comment",
        "z": "7b3065384a2cc43b",
        "name": "Back Door Zone Lights when back door opens",
        "info": "",
        "x": 190,
        "y": 480,
        "wires": []
    },
    {
        "id": "b9a04735fa41a901",
        "type": "server-state-changed",
        "z": "7b3065384a2cc43b",
        "name": "Back Door Opened",
        "server": "e1cb801a.ed5b6",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "${back_door_contact}"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "on",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 110,
        "y": 540,
        "wires": [
            [
                "0512dda65eeb2e70"
            ],
            []
        ],
        "outputLabels": [
            "Open",
            "Close"
        ]
    },
    {
        "id": "0512dda65eeb2e70",
        "type": "time-range-switch",
        "z": "7b3065384a2cc43b",
        "name": "Between sunset and sunrise",
        "lat": "",
        "lon": "",
        "startTime": "sunset",
        "endTime": "sunrise",
        "startOffset": 0,
        "endOffset": 0,
        "x": 400,
        "y": 540,
        "wires": [
            [
                "e1c50f510b974630"
            ],
            []
        ]
    },
    {
        "id": "e1c50f510b974630",
        "type": "api-call-service",
        "z": "7b3065384a2cc43b",
        "name": "Turn on the light",
        "server": "e1cb801a.ed5b6",
        "version": 7,
        "debugenabled": true,
        "action": "light.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "${bdz_light}"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "light",
        "service": "turn_on",
        "x": 720,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "c918725959b5fc08",
        "type": "comment",
        "z": "7b3065384a2cc43b",
        "name": "Worktop and Sink Lights",
        "info": "",
        "x": 130,
        "y": 620,
        "wires": []
    },
    {
        "id": "221843d4495a1da7",
        "type": "server-state-changed",
        "z": "7b3065384a2cc43b",
        "name": "Worktop Presence",
        "server": "e1cb801a.ed5b6",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "${worktop_presence}"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "on",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 121,
        "y": 699,
        "wires": [
            [
                "6f3377a6c1ec3015",
                "304177a11bf69b79"
            ],
            [
                "bde25b7492a15bb8"
            ]
        ]
    },
    {
        "id": "6f3377a6c1ec3015",
        "type": "api-current-state",
        "z": "7b3065384a2cc43b",
        "name": "Low Light?",
        "server": "e1cb801a.ed5b6",
        "version": 3,
        "outputs": 2,
        "halt_if": "300",
        "halt_if_type": "num",
        "halt_if_compare": "lt",
        "entity_id": "${light_level}",
        "state_type": "num",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 450,
        "y": 680,
        "wires": [
            [
                "edfc0e621afdb5f1"
            ],
            []
        ]
    },
    {
        "id": "edfc0e621afdb5f1",
        "type": "api-current-state",
        "z": "7b3065384a2cc43b",
        "name": "Are we in bed",
        "server": "e1cb801a.ed5b6",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "${we_are_in_bed}",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 680,
        "y": 680,
        "wires": [
            [],
            [
                "109ec89fdc872b48",
                "38ac1bb91c2c205f"
            ]
        ],
        "outputLabels": [
            "Yes",
            "No"
        ]
    },
    {
        "id": "109ec89fdc872b48",
        "type": "api-current-state",
        "z": "7b3065384a2cc43b",
        "name": "Adaptive Lighting Sleep Mode On?",
        "server": "e1cb801a.ed5b6",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "${al_sleep_mode}",
        "state_type": "num",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1000,
        "y": 640,
        "wires": [
            [
                "196f1517be19d540",
                "f7348398d4ccd414"
            ],
            [
                "ad02b63e044d979e",
                "b9322d8ac3eaafe7"
            ]
        ]
    },
    {
        "id": "38ac1bb91c2c205f",
        "type": "time-range-switch",
        "z": "7b3065384a2cc43b",
        "name": "Between sunset and sunrise",
        "lat": "",
        "lon": "",
        "startTime": "sunset",
        "endTime": "sunrise",
        "startOffset": 0,
        "endOffset": 0,
        "x": 980,
        "y": 720,
        "wires": [
            [
                "196f1517be19d540",
                "f7348398d4ccd414"
            ],
            [
                "ad02b63e044d979e",
                "b9322d8ac3eaafe7"
            ]
        ]
    },
    {
        "id": "196f1517be19d540",
        "type": "api-call-service",
        "z": "7b3065384a2cc43b",
        "name": "Turn on the sink lights at low level.",
        "server": "e1cb801a.ed5b6",
        "version": 7,
        "debugenabled": true,
        "action": "light.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "${sink_lights}"
        ],
        "labelId": [],
        "data": "{   \"brightness_pct\": 30,   \"color_temp\": 400 }",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "light",
        "service": "turn_on",
        "x": 1480,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "f7348398d4ccd414",
        "type": "api-call-service",
        "z": "7b3065384a2cc43b",
        "name": "Turn on worktop lights at low level.",
        "server": "e1cb801a.ed5b6",
        "version": 7,
        "debugenabled": true,
        "action": "light.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "${worktop_lights}"
        ],
        "labelId": [],
        "data": "{   \"brightness_pct\": 30 }",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "light",
        "service": "turn_on",
        "x": 1480,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "ad02b63e044d979e",
        "type": "api-call-service",
        "z": "7b3065384a2cc43b",
        "name": "Turn on the sink lights at high level.",
        "server": "e1cb801a.ed5b6",
        "version": 7,
        "debugenabled": true,
        "action": "light.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "${sink_lights}"
        ],
        "labelId": [],
        "data": "{   \"brightness_pct\": 100,   \"color_temp\": 200 }",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "light",
        "service": "turn_on",
        "x": 1480,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "b9322d8ac3eaafe7",
        "type": "api-call-service",
        "z": "7b3065384a2cc43b",
        "name": "Turn on worktop lights at high level.",
        "server": "e1cb801a.ed5b6",
        "version": 7,
        "debugenabled": true,
        "action": "light.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "${worktop_lights}"
        ],
        "labelId": [],
        "data": "{   \"brightness_pct\": 70 }",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "light",
        "service": "turn_on",
        "x": 1480,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "0be939d63c053eb0",
        "type": "api-call-service",
        "z": "7b3065384a2cc43b",
        "name": "Turn off the lights",
        "server": "e1cb801a.ed5b6",
        "version": 7,
        "debugenabled": true,
        "action": "light.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "${worktop_lights}",
            "${sink_lights}"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "light",
        "service": "turn_off",
        "x": 610,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "bde25b7492a15bb8",
        "type": "trigger",
        "z": "7b3065384a2cc43b",
        "name": "Wait 30 seconds then turn off unless presence detected again.",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "pay",
        "duration": "30",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "on",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 530,
        "y": 820,
        "wires": [
            [
                "0be939d63c053eb0"
            ]
        ]
    },
    {
        "id": "304177a11bf69b79",
        "type": "function",
        "z": "7b3065384a2cc43b",
        "name": "Send Reset on presence.",
        "func": "msg.reset = \"on\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 740,
        "wires": [
            [
                "bde25b7492a15bb8"
            ]
        ]
    },
    {
        "id": "e1cb801a.ed5b6",
        "type": "server",
        "name": "Home Assistant",
        "addon": true
    }
]
